body{
    text-align: center;
}

.container{
    position: relative;
    text-align: center;    
}

p{
    position: fixed;
    bottom: 50px;
    right: 100px;
    color: aliceblue;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {

img{
    width: 100%;
    height: auto;
}

p{
    position: relative;
    right: auto;
}
    
}

